In [1]:
# import plotly_express as px
import pandas as pd

In [11]:
df = pd.read_csv('bases/consultas.csv',sep=';')
df2 = pd.read_csv('bases/bases_oracle.csv',sep=';')
df = df[df['base'].isin(df2[df2['status'] == 1]['base'])]

In [12]:
print(df2.head())

     base                                         conexao  status
0  ICWEB1             PSQL/#f6kpzSN@vippweb1:1521/svcpweb       0
1  ICWEB3             PSQL/#f6kpzSN@vippweb1:1521/svcpweb       0
2  ICWEB4             PSQL/#f6kpzSN@vippweb1:1521/svcpweb       1
3  ICWEB5             PSQL/#f6kpzSN@vippweb1:1521/svcpweb       1
4  SIEBEL  80656720sql/1234*senha@vippsie8appl:1521/PSIE8       1

In [15]:
df = df[df['base'].isin(df2[df2['status'] == 1]['base'])].sort_values(by = ['base','tipo'])

In [16]:
df

,tipo,base,query
3,CXLOG atividade,SIEBEL,"Select ROW_ID, PROCESS_NAME, PROCESS_TYPE,LOGG..."
4,CXLOG instância-1,SIEBEL,Select X_Serv_Addr_Id Id_Endereco From Siebel....
5,CXLOG instância-2,SIEBEL,"SELECT LOGGED_MESSAGE_LONG MSG_ERRO, REQUEST_X..."
0,IDs por Doc,SIEBEL,"SELECT CONTA.INTEGRATION_ID CONTA, ENDERECO...."
1,IDs por Ordem,SIEBEL,"select spi.name,soe.integration_id as ID_conta..."
2,Ordem pela instância,SIEBEL,"select C.INTEGRATION_ID conta, e.INTEGRATION_I..."
7,idProd,SIEBEL,"select name, row_id from siebel.s_prod_int whe..."
6,risco,SIEBEL,"SELECT X_CREDIT_SCORE Nivel_de_risco, X_CREDIT..."